<!--<ul class="list-group-item" *ngFor = "let product of products">
  <li  class="list-group-item"><app-product [product] = "product"
  (deleteEvent) = "deleteProduct($event)"
  (updateEvent) = "updateProduct($event)" 
  >

  </app-product>   </li>-->

     <!--<ul class="list-group users"> 
    <li class="list-group-item" 
     *ngFor = "let product of products">
      <app-product [product] = "product"
      (deleteEvent) = "deleteProduct($event)" >
    
    </app-product>-->



<ul class="list-group-item" *ngFor = "let product of products">
  <a  class="list-group-item"><app-product [product] = "product"
  (deleteEvent) = "deleteproduct($event)"
  (updateEvent) = "updateProduct($event)"
  
  >
  </app-product> </a>

          <li class = "list-group-item" *ngFor = "let title of product.catName">
          <b>products name</b>  {{(title | async)?.name}}
          </li>
          
</ul>


<h1>RWD List to Table</h1>
<table class="rwd-table">
  <tr>
    <th>name</th>
    <th>price</th>
    <th>category Id</th>
    <th>Gross</th>
  </tr>
  <tr>
    <td data-th="Movie Title">Star Wars</td>
    <td data-th="Genre">Adventure, Sci-fi</td>
    <td data-th="Year">1977</td>
    <td data-th="Gross">$460,935,665</td>
  </tr>

</table>


